<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-info">
      <%= pluralize(question.errors.count, "Error") %> 
    </div>

      <ul>
        <div class="alert alert-danger">
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Contenido %><br>
    <%= form.text_area :content, id: :question_content %>
  </div><br>
    <%= form.submit "Guardar", class:"btn btn-success" %>
<% end %>
