<div class="container">
  <table class="table table-responsive ">
    <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Fecha de nacimiento</th>
      <th>Dirección</th>
      <th>Comuna</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>

    <% @apoderados.each do |apoderado| %>
      <tr>
        <td><%= apoderado.nombres %></td>
        <td><%= apoderado.apellidos %></td>
        <td><%= apoderado.rut.to_s %></td>
        <td><%= apoderado.email %></td>
        <td><%= apoderado.fecha_nacimiento %></td>
        <td><%= apoderado.direccion %></td>
        <td><%= apoderado.comuna.descripcion %></td>
        <td><%=link_to 'Mostrar', apoderado_url(apoderado), class: "btn btn-primary"  %></td>
        <td><a class="btn btn-warning" href="/apoderados/edit" role="button">Editar</a></td>
      </tr>
    <%end %>
    </tbody>
  </table>
  <a href="/apoderados/nuevo" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Nuevo</a>
</div>