<h1><%= @apoderado.nombres %></h1>
<h1><%= @apoderado.apellidos %></h1>
<h1><%= @apoderado.rut %></h1>
<h1><%= @apoderado.email %></h1>
<h1><%= @apoderado.password %></h1>
<h1><%= @apoderado.fecha_nacimiento %></h1>
<h1><%= @apoderado.direccion %></h1>
<%= @apoderado.comuna.descripcion %>
<p>Find me in app/views/apoderados/mostrar.html.erb</p>