<%= form_for(@pago, :html => {:role => 'form'}) do |f| %>
  <% if @pago.errors.any? %>
  <div class="alert alert-info">
    <%= pluralize(@pago.errors.count, "Errores") %>
  </div>
  <div class="alert alert-danger">
    <% @pago.errors.full_messages.each do |error| %>
      <%= error %><br>
    <% end %>
  </div>
  <% end %>

  <h1>Registro de Pagos</h1>

  <p>
    <%= f.label :apoderado %>
    <%= f.select('users_id',
                 User.all.collect {|c| [c.nombres, c.id]}) %>
  </p>

  <p>
    <%= f.label :estudiante %>
    <%= f.select('estudiante_id',
                 Estudiante.all.collect {|c| [c.nombres, c.id]}) %>
  </p>

  <p>
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </p>

  <p>
    <%= f.label :abono %>
    <%= f.text_field :abono %>
  </p>

  <p>
    <%= f.label :saldo %>
    <%= f.text_field :saldo %>
  </p>

  <p>
    <%= f.label :fecha_pago %>
    <%= f.text_field :fecha_pago %>
  </p>


  <p>
    <%= f.label :estado %>
    <%= f.select('estado_id',
               Estado.all.collect { |c| [c.descripcion, c.id] }) %>
  </p>

  <p>
    <%= f.label :tipopago %>
    <%= f.select('tipo_pago_id',
               TipoPago.all.collect { |c| [c.descripcion, c.id] }) %>
  </p>

  <%= f.submit 'Guardar Pago', class:"btn btn-success"%>
<% end %>
