<!DOCTYPE html>
<body>
<head>
</head>
<body></body>
<div class="container-form">
  <h1>Listado de Pagos</h1><br>
<div class="derecha">
    <h1><a href="/pagos.pdf"><i class="fas fa-file-pdf"></i></a> <a href="pagos/nuevo" class="btn btn-success btn-lg btn-primary" role="button" aria-pressed="true">Agregar pago</a><br></h1>
</div>
<div class="col-3">
<%= form_tag("pagos/buscar", method: :get) do %>
  <div class="form-group">
    <%= select_tag :estudiante_id, options_from_collection_for_select(Estudiante.all, "id", "nombreuno", params[:estudiante_id]), class: "form-control" %>
  </div>
  <%= submit_tag "Buscar", nombreuno: nil, class: "btn btn-primary btn-md" %>
<% end %>
</div>
<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Estudiante</th>
    <th>Valor</th>
    <th>Abono</th>
    <th>Saldo</th>
    <th>Fecha pago</th>
    <th>Fecha de ingreso</th>
    <th>Estado</th>
    <th>Tipo pago</th>
    <th colspan="3">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @pagos.each do |pago| %>
    <tr>
      <td><%= pago.estudiante.nombreuno%> <%= pago.estudiante.apellidouno %></td>
      <td><%= pago.valor %></td>
      <td><%= pago.abono %></td>
      <td><%= pago.saldo%></td>
      <td><%= pago.fecha_pago %></td>
      <td><%= pago.created_at %></td>
      <td>
        <%if pago.estado.descripcion ==  'Pendiente'%>
        <p class="text-danger"><%= pago.estado.descripcion %></p>
          <%end %>
        <%if pago.estado.descripcion ==  'Pagado'%>
          <p class="text-success"><%= pago.estado.descripcion %></p>
        <%end %>
      </td>
      <td><%= pago.tipo_pago.descripcion %></td>
      <td><%= link_to 'Mostrar', pago_url(pago), class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', editar_pago_url(pago), class: "btn btn-warning" %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>
</body>
</html>
