
<!DOCTYPE html>
<body>
<head>
</head>
<body></body>
<div class="container">
  <div class="derecha">
  <a href="pagos/nuevo" class="btn btn-success btn-lg btn-primary" role="button" aria-pressed="true">Agregar pago</a><br>  
</div>
<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Estudiante</th>
    <th>Valor</th>
    <th>Abono</th>
    <th>Saldo</th>
    <th>Fecha pago</th>
    <th>Estado</th>
    <th>Tipo pago</th>
  </tr>
  </thead>
  <tbody>
  <% @pagos.each do |pago| %>
    <tr>
      <td><%= pago.estudiante.nombres%></td>  
      <td><%= pago.valor %></td>
      <td><%= pago.abono %></td>
      <td><%= pago.saldo%></td>
      <td><%= pago.fecha_pago %></td>
      <td><%= pago.estado.descripcion %></td>
      <td><%= pago.tipo_pago.descripcion %></td>
      <td><%= link_to 'Mostrar', pago_url(pago), class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', editar_pago_url(pago), class: "btn btn-warning" %></td>
      <td><%= link_to 'Eliminar', pago_path(pago), class: "btn btn-danger",
                      method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>
</body>
</html>