<% @pago.estudiante.nombres%>
<% @pago.usuario.nombres %>
<%= @pago.valor %>
<%= @pago.saldo %>
<%= @pago.abono %>
<%= @pago.fecha_pago%>
<%= @pago.estado.descripcion %>
<%= @pago.tipo_pago.descripcion %>
<p>Find me in app/views/pagos/mostrar.html.erb</p>