<div class="container-form">
<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <% if @user.errors.any? %>
  <div class="alert alert-info">
    <%= pluralize(@user.errors.count, "Errores") %>
  </div>
  <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |error| %>
      <%= error %><br>
    <% end %>
  </div>
    <% end %>

<div class="form">
  <h1 class="text-center"> Registro de Usuarios</h1>

  <div class="row">

  <div class="col">
  <div class="field">
    <%= f.label :primer_nombre %><br/>
    <%= f.text_field :nombreuno, autofocus: true, class: "form-control", placeholder: "Primer nombre" %>
  </div><br>
</div>

  <div class="col">
  <div class="field">
    <%= f.label :segundo_nombre %><br/>
    <%= f.text_field :nombredos, autofocus: true, class: "form-control", placeholder: "Segundo nombre" %>
  </div>
  </div>
</div>

<div class="row">

  <div class="col">
  <div class="field">
    <%= f.label :primer_apellido %><br/>
    <%= f.text_field :apellidouno, autofocus: true, class: "form-control", placeholder: "Primer apellido" %>
  </div><br>
</div>

  <div class="col">
  <div class="field">
    <%= f.label :segundo_apellido %><br/>
    <%= f.text_field :apellidodos, autofocus: true, class: "form-control", placeholder: "Segundo apellido" %>
  </div>
  </div>
</div>
  <div class="row">
    <div class="col">
  <div class="field">
    <%= f.label :rut %><br/>
    <%= f.text_field :rut, autofocus: true, class:"form-control", placeholder: "11.111.111-1" %>
  </div><br>
</div>
  <div class="col">
  <div class="field">
    <%= f.label :fecha_nacimiento %><br/>
    <%= f.date_field :fecha_nacimiento, autofocus: true, class:"form-control" %>
  </div>
</div>
  <div class="col">
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email" %>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
  <div class="field">
    <%= f.label :Contrase単a %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "off", class:"form-control" , placeholder:"Contrase単a"%>
  </div><br>
</div>
<div class="col">
  <div class="field">
    <%= f.label :Confirmar_contrase単a %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar contrase単a" %>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
  <div class="field">
    <%= f.label :direccion %><br/>
    <%= f.text_field :direccion, autofocus: true , class: "form-control", placeholder: "Direccion"%>
  </div><br/>
</div>
<div class="col">
<div class="field">
  <%= f.label :comuna %><br>
  <%= f.select('comuna_id',
               Comuna.all.collect {|c| [c.descripcion, c.id]}, class: "form-control") %>
</div>
  </div>
  <div class="col">
<div class="field">
  <%= f.label :celular %><br/>
  <%= f.text_field :celular, autofocus: true, class: "form-control", placeholder:"Celular" %>
</div>
</div>
</div>
<div class="field">
  <%= f.label :Tipo_de_usuario %>
  <%= f.select('tipo_usuario_id',
               TipoUsuario.all.collect {|c| [c.descripcion, c.id]}, class: "form-control") %>
</div>

  <div class="actions">
    <%= f.submit "Guardar Usuario" ,class:"btn btn-success"%>
  </div>
<% end %>
</div>
</div>
