<!DOCTYPE html>
<body>
<head>
</head>

<body></body>
<div class="container-form">
  <h1>Listado de Usuarios</h1><br>
  <div class="derecha">
    <h1><a href="/users/nuevo" class="btn btn-success btn-lg" role="button" aria-pressed="true">Nuevo</a></h1>
</div>
<%= form_tag users_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :nombreuno, params[:nombreuno], class: "form-control-3", placeholder: "primer nombre" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :apellidouno, params[:apellidouno], class: "form-control-3", placeholder: "primer apellido" %>
  </div>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
<% end %>
<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rut</th>
    <th>Tipo de usuario</th>
    <th>Estado</th>
    <th colspan="3">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.nombreuno %></td>
      <td><%= user.apellidouno %></td>
      <td><%= user.rut %></td>
      <td><%= user.tipo_usuario.descripcion%></td>
      <td>
      <% if user.estado == false %>
      <p class="text-danger"><%= user.estado %></p>
      <% end %>

      <% if user.estado == true %>
      <p class="text-success"><%= user.estado %></p>
      <% end %>

      </td>
      <td><%= link_to 'Mostrar', user_url(user), class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', editar_user_url(user), class: "btn btn-warning" %></td>
      <% if user.estado == true %>
      <td><%= link_to 'Cambiar estado', user_path(user), class: "btn btn-danger",
                      method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
                      <% end %>
    </tr>
    <%end%>

  </tbody>
</table>
</div>
</body>
</html>
