<!DOCTYPE html>
<body>
<head>
</head>
<body></body>
<div class="container">
  <div class="derecha">
<a href="/users/nuevo" class="btn btn-success btn-lg" role="button" aria-pressed="true">Nuevo</a>
</div>
  <table class="table table-condensed table-bordered">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombreuno%></td>
        <td><%= user.apellidouno%></td>
        <td><%= user.tipo_usuario.descripcion %></td>
        <td><%= user.estado%></td>
        <td><%= link_to 'Mostrar', user_url(user), class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', editar_user_url(user), class: "btn btn-warning" %></td>
        <% if user.estado == true %>
        <td><%= link_to 'Cambiar estado', user_path(user), class: "btn btn-danger",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
                        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</html>