<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
  <div class="container-form">
  <h1>Nombres: <%= @user.nombreuno %></h1>
  <h1>Apellidos: <%= @user.apellidouno %></h1>
  <h1>Rut: <%= @user.rut %></h1>
  <h1>Fecha de Nacimiento: <%= @user.fecha_nacimiento %></h1>
  <h1>Direccion: <%= @user.direccion %></h1>
  <h1>Comuna: <%= @user.comuna.descripcion %></h1>
  <h1>Celular: <%= @user.celular %></h1>
</div>
</body>
</html>
