<%= form_for(@estudiante, :html => {:role => 'form'}) do |f| %>
  <% if @estudiante.errors.any? %>
  <div class="alert alert-info">
    <%= pluralize(@estudiante.errors.count, "Errores") %>
  </div>
  <div class="alert alert-danger">
    <% @estudiante.errors.full_messages.each do |error| %>
      <%= error %><br>

    <% end %>
    </div>
  <% end %>

<div class="form">
  <h1 class="text-center"> Registro de Estudiante</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :nombres %>
        <%= f.text_field :nombres, class: "form-control", placeholder: "Nombres" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :apellidos %>
        <%= f.text_field :apellidos, class: "form-control", placeholder: "Apellidos" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :rut %>
        <%= f.text_field :rut, class: "form-control", placeholder: "Rut" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :fecha_nacimiento %>
        <%= f.date_field :fecha_nacimiento, class: "form-control ", placeholder: "Fecha de Nacimiento"%>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :direccion %>
        <%= f.text_field :direccion, class: "form-control", placeholder: "Direccion" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

        <%= f.label :comuna %><br>
        <%= f.select('comuna_id',
                     Comuna.all.collect {|c| [c.descripcion, c.id]}, class: "form-control") %>

    </div>
    <div class="col">
        <%= f.label :nivel_educacional %><br>
        <%= f.select('nivel_educacional_id',
                     NivelEducacional.all.collect {|c| [c.descripcion, c.id]}) %>
    </div>

    <div class="col">
      <%= f.label :jornada %><br>
      <%= f.select('jornada_id',
                   Jornada.all.collect {|c| [c.descripcion, c.id]}) %>
    </div>

    <div class="col">
      <%= f.label :apoderado%><br>
      <%= f.select('users_id',
                   User.all.collect {|c| [c.nombres, c.id]}) %>
    </div>
  </div>
  <div class="btn">
  <%= f.submit 'Guardar Estudiante', class:"btn btn-success"%>
  </div>
<% end %>
</div>
