<!DOCTYPE html>
<body>
<head>
</head>

<body></body>
<div class="container-form">
  <h1>Listado de Estudiantes</h1><br>
  <div class="derecha">
    <h1><a href="/estudiantes.pdf"><i class="fas fa-file-pdf"></i></a>
      <% if can? :crear, @estudiantes %>
      <%= link_to 'Nuevo', estudiantes_nuevo_url, class:"btn btn-success" %>
      <% end %>
    </h1>
</div>

<%= form_tag estudiantes_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :nombreuno, params[:nombreuno], class: "form-control-3", placeholder: "primer nombre" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :apellidouno, params[:apellidouno], class: "form-control-3", placeholder: "primer apellido" %>
  </div>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <%= link_to "Volver", "/estudiantes" , class:"btn btn-secondary"%>
<% end %>


<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Estudiante</th>
    <th>Rut</th>
    <th>Apoderado</th>
    <th>Nivel Educacional</th>
    <th>Estado</th>
    <th colspan="3">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
    <tr>
      <td><%= estudiante.nombreuno %> <%= estudiante.apellidouno %></td>
      <td><%= estudiante.rut %></td>
      <td><%= estudiante.user.nombreuno %> <%= estudiante.user.apellidouno%></td>
      <td><%= estudiante.nivel_educacional.descripcion%></td>
      <td>
      <% if estudiante.estado == false %>
      <p class="text-danger"><%= estudiante.estado %></p>
      <% end %>

      <% if estudiante.estado == true %>
      <p class="text-success"><%= estudiante.estado %></p>
      <% end %>

      </td>
      <td><%= link_to 'Mostrar', estudiante_url(estudiante), class: "btn btn-info" %></td>
      <% if can? :editar, estudiante %>
      <td><%= link_to 'Editar', editar_estudiante_url(estudiante), class: "btn btn-warning" %></td>
      <%end%>
      <% if can? :eliminar, estudiante %>
      <% if estudiante.estado == true %>
      <td><%= link_to 'Cambiar estado', estudiante_path(estudiante), class: "btn btn-danger",
                      method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
                      <%end%>
                      <% end %>
    </tr>
    <%end%>

  </tbody>
</table>
<%= will_paginate @estudiantes , renderer: BootstrapPagination::Rails %>
</div>
</body>
</html>
