<!DOCTYPE html>
<body>
<head>
</head>
<body></body>
<div class="container">
  <div class="derecha">
    <h1><a href="/estudiantes.pdf"><i class="fas fa-file-pdf"></i></a>
<a href="/estudiantes/nuevo" class="btn btn-success btn-lg" role="button" aria-pressed="true">Nuevo</a>
</div>
<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Número</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Rut</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
    <tr>
      <td><%= estudiante.id %></td>
      <td><%= estudiante.nombres %></td>
      <td><%= estudiante.apellidos %></td>
      <td><%= estudiante.rut %></td>
      <td><%= link_to 'Mostrar', estudiante_url(estudiante), class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', editar_estudiante_url(estudiante), class: "btn btn-warning" %></td>
      <td><%= link_to 'Eliminar', estudiante_path(estudiante), class: "btn btn-danger",
                      method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
    </tr>
    <%end%>
    <%= will_paginate @estudiantes , renderer: BootstrapPagination::Rails %>
  </tbody>
</table>
</div>
</body>
</html>
