<!DOCTYPE html>
<body>
<head>
</head>

<body></body>
<div class="container-form">
  <h1>Listado de Estudiantes</h1><br>
  <div class="derecha">
    <h1><a href="/estudiantes.pdf"><i class="fas fa-file-pdf"></i></a>
      <a href="/estudiantes/nuevo" class="btn btn-success btn-lg" role="button" aria-pressed="true">Nuevo</a></h1>
</div>

<%= form_tag estudiantes_path, method: :get do %>
<div class="form-group">
  <%= text_field_tag :nombreuno, params[:nombreuno], class: "form-control", placeholder: "primer nombre" %>
</div>

<%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
<% end %>

<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rut</th>
    <th>Estado</th>
    <th colspan="3">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
    <tr>
      <td><%= estudiante.nombreuno %></td>
      <td><%= estudiante.apellidouno %></td>
      <td><%= estudiante.rut %></td>
      <td><%= estudiante.estado %></td>
      <td><%= link_to 'Mostrar', estudiante_url(estudiante), class: "btn btn-primary" %></td>
      <td><%= link_to 'Editar', editar_estudiante_url(estudiante), class: "btn btn-warning" %></td>
      <% if estudiante.estado == true %>
      <td><%= link_to 'Cambiar estado', estudiante_path(estudiante), class: "btn btn-danger",
                      method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
                      <% end %>
    </tr>
    <%end%>

  </tbody>
</table>
</div>
</body>
</html>
