<center><h1> Estudiantes de Sala Cuna y Jardín Infantil </h1></center>
<table class="table">
  <thead>
  <tr>
    <th style="width: 200px;">Estudiante</th>
    <th style="width: 200px;">Rut</th>
    <th style="width: 200px;">Apoderado</th>
    <th style="width: 200px;">Nivel Educacional</th>
    <th style="width: 200px;">Jornada</th>
    <th style="width: 200px;">Estado</th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
  <% if estudiante.estado == true%>
    <tr>
      <td><%= estudiante.nombreuno %> <%= estudiante.apellidouno %></td>
      <td><%= estudiante.rut %></td>
      <td><%= estudiante.user.nombreuno%> <%= estudiante.user.apellidouno%></td>
      <td><%= estudiante.nivel_educacional.descripcion %></td>
      <td><%= estudiante.jornada.descripcion%></td>
      <td><%= estudiante.estado %></td>
    </tr>
    <% end %>
    <%end%>
  </tbody>
</table>
