<h1><%=  @estudiante.nombres %></h1>
<h1><%= @estudiante.apellidos %></h1>
<h1><%=  @estudiante.rut %></h1>
<h1><%=  @estudiante.fecha_nacimiento %></h1>
<h1><%=  @estudiante.direccion %></h1>
<%= @estudiante.comuna.descripcion %>
<%= @estudiante.nivel_educacional.descripcion %>
<%= @estudiante.jornada.descripcion %>
<p>Find me in app/views/estudiantes/mostrar.html.erb</p>
