<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
  <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Logo_UTEM.png" width="150" height="150">
  <center><h1> Estudiante Sala Cuna y Jardin Infantil</h1></center>
  <h1>Nombres: <%= @estudiante.nombres %></h1>
  <h1>Apellidos: <%= @estudiante.apellidos %></h1>
  <h1>Rut: <%= @estudiante.rut %></h1>
  <h1>Fecha de Nacimiento: <%= @estudiante.fecha_nacimiento %></h1>
  <h1>Direccion: <%= @estudiante.direccion %></h1>
  <h1>Comuna: <%= @estudiante.comuna.descripcion %></h1>
  <h1>Nivel Educacional: <%= @estudiante.nivel_educacional.descripcion %></h1>
  <h1>Jornada: <%= @estudiante.jornada.descripcion %></h1>
</body>
</html>
