<%= form_for(@agenda, :html => {:role => 'form'}) do |f| %>
  <% if @agenda.errors.any? %>
  <div class="alert alert-info">
    <%= pluralize(@agenda.errors.count, "Errores") %>
  </div>
  <div class="alert alert-danger">
    <% @agenda.errors.full_messages.each do |error| %>
      <%= error %><br>
    <% end %>
  </div>
  <% end %>

  <h1>Crear Comentario</h1>

  <p>
    <%= f.label :usuario %>
    <%= f.select('users_id',
                 User.all.collect {|c| [c.nombres, c.id]}) %>
  </p>
  <p>
    <%= f.label :estudiante %>
    <%= f.select('estudiante_id',
                 Estudiante.all.collect {|c| [c.nombres, c.id]}) %>
  </p>
  <p>
  <%= f.label :fecha %>
  <%= f.date_field :fecha %>
  </p>
  <p>
  <%= f.label :comentario %><br>
  <%= f.text_area :comentario %>
  </p>
  <%= f.submit 'Guardar comentario',class:"btn btn-success"%>
<% end %>
