<div class="container-form">

 <div class="boton">
  <a href="/agendas/nuevo" class="btn btn-success btn-lg " role="button" aria-pressed="true">Nuevo</a>
</div>
  <h2>Agenda</h2>
  <div class="col-3">
  <%= form_tag agendas_path, method: :get do %>
  <div class="form-group">
    <%= select_tag 'estudiante_id', options_for_select(Estudiante.all.collect{|u| [u.nombreuno + " "+ u.apellidouno, u.id]}), class: "form-control" %>
  </div>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <%= link_to "Volver", "/agendas" , class:"btn btn-secondary"%>
<% end %>
</div>
<% @agendas.each do |agenda| %><br>

  <div style="border: 2px solid black; background-color: #add8e6;">
    <div class="container">
            <h4> Estudiante: <%= agenda.estudiante.nombreuno %> <%= agenda.estudiante.apellidouno %></h4>
            <h4> Comentario: <%= agenda.comentario %></h4>
            <%= time_ago_in_words(agenda.created_at) %> realizado por <%= agenda.user.nombreuno %>,
            <%= agenda.fecha %><br><br>

           <% if can? :update, agenda %>
            <%= link_to 'Editar', editar_agenda_url(agenda),class:"btn btn-warning" %>
          <% end %>

           <% if can? :eliminar, agenda %>
            <%= link_to 'Eliminar', agenda_path(agenda),
              method: :delete,
              data: {confirm: '¿Estas seguro?'}, class:"btn btn-danger" %>
              <% end %>


      </div>
      </div>
<% end %>
</div>
