<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
 <div class="boton">
  <a href="/agendas/nuevo" class="btn btn-success btn-lg " role="button" aria-pressed="true">Nuevo</a>
</div>
<div class="container">
  <h2>Agenda</h2>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Reporte</div>
      <div class="panel-body">
        <% @agendas.each do |agenda| %>
            <h4> Estudiante</h4><%= agenda.estudiante.nombres %> <%= agenda.estudiante.apellidos %>
            <h4> Comentario</h4><%= agenda.comentario %><br>
            <%= agenda.fecha %>
            <div class="derecha">
            <%= link_to 'Editar', editar_agenda_url(agenda),class:"btn btn-warning" %>
            <%= link_to 'Eliminar', agenda_path(agenda),
              method: :delete,
              data: {confirm: '¿Estas seguro?'}, class:"btn btn-danger" %>
            </div>
        <%end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
