<h1><%= @usuario.nombres %></h1>
<h1><%= @usuario.apellidos %></h1>
<h1><%=  @usuario.rut %></h1>
<h1><%=  @usuario.email %></h1>
<h1><%=  @usuario.password %></h1>
<h1><%=  @usuario.fecha_nacimiento %></h1>
<h1><%=  @usuario.direccion %></h1>
<%= @usuario.comuna.descripcion %>
<%= @usuario.tipo_usuario.descripcion %>
<p>Find me in app/views/usuarios/mostrar.html.erb</p>
